*, *::after, *::before {
    box-sizing: border-box;
}


.container {
    height: 80vh;
    max-height: 80vh;
    min-height: 80vh;
    max-width: 30vw;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    
}

.gridRow {
    flex-grow: 1;
      
}

.cell {
    height: 20px;
    flex-grow: 3;
    flex-basis: 1 1 20px;
    background-color: rosybrown;
  }

button {
    border: 1px solid gray;
    min-width: 5%;
    min-height: 15px;
    padding: 3px;
    font-size: 1em;
  }