*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

/* div {
    width: 100px;
    background-color: brown;
} */

.container {
    margin-top: 10%;
    max-height: 34rem;
    display: grid;  
    grid-gap: 0.1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: seagreen;
}

.gridRow {
    border: 1px solid blue;
    background-color:blueviolet;
}

.cell { 
    border: 1rem solid rgb(229, 255, 0);
    background-color: rosybrown;
  }

#clear-button {
    border: 1px solid gray;
    min-width: 5%;
    min-height: 15px;
    padding: 3px;
    font-size: 1em;
  }